---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Publications from '../components/Publications.astro';
---

<Layout title="Karan Singh | Research Software Engineer">
  <Header />
  <Hero />
  <Skills />

  <main>
     <Projects />
     <Publications /> <!-- <-- 2. Use the component -->
  </main>
</Layout>